<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head') %>
        <title>Profile</title>
    </head>
    <%- include('./partials/nav') %>
    <main>
        <div class="container form-group">
            <h2 class="default-header">Calculate a quote</h2>
            <form id="create-quote" action="/addQuote" method="POST">
                <div class="form-group">
                  <label for="quote-name">Quote Name</label>
                  <input type="text" class="form-control" id="quote-name" placeholder="Enter quote name">
                </div>
                <div class="form-group">
                  <label for="employee-type">Employee Type</label>
                  <select id="employee-type" name="employee type">
                    <option value="senior">Senior</option>
                    <option value="junior">Junior</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="hours">Hours</label>
                  <input type="number" min="0" class="form-control" id="hours" placeholder="Enter hours">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>
    </main>