.page{
    background-color:lightblue;
    padding:30px;
}
/* add quotes page css */
#create-quote{
    background-color: white;
    padding: 10px;
    border-radius:25px;
}
#additional-costs{
    background-color: lightgray; 
    padding: 10px;
    
}
#submit-button{
    padding: 10px;
}