/*General CSS for site*/
.page{
    background-color:lightblue;
    padding:30px;
}

/* Register form css */
/* The message box is shown when the user clicks on the password field */
#message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
  }
  
  #message p {
    padding: 10px 35px;
    font-size: 18px;
  }
  
  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: green;
  }
  

  
  /* Add a red text color and an "x" icon when the requirements are wrong */
  .invalid {
    color: red;
  }
  

/* add quotes page css */
#create-quote{
    background-color: white;
    padding: 10px;
    border-radius:25px;
}
#additional-costs{
    background-color: gray; 
    padding: 10px;
    
}
#submit-button{
    padding: 10px;
}

/* Quotes page css*/
#quote-card{
    margin:10px;
}

.interact-row{
    margin:10px;
}

.button-col{
    margin:10px;
}